.pera{
    font-size: 3em;
    font-family: 'Gluten', cursive;

   
}
.img{
    border-radius: 60px;
}
.a{
    outline: n;
}
body{
   background-color: rgba(147, 218, 155, 0.5);

}
.hover{
    background-color: black;
}
.hover:hover{
    background-color: white;
    color: black !important;
}